<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    
    <card>
        <title>Base configuration</title>
        <title lang="de-DE">Basis-Konfiguration</title>
        
        <input-field type="single-select">
            <name>environment</name>
            <label>Environment</label>
            <label lang="de-DE">Umgebung</label>
            <helpText>Select test for testing purposes. Use production only for your live shops.</helpText>
            <helpText lang="de-DE">Wählen Sie Test für Testzwecke. Verwenden Sie Produktion nur für Ihre Live-Shops.</helpText>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>production</id>
                    <name>Production</name>
                </option>
            </options>
        </input-field>
    </card>
    
    <card>
        <title>Test environment credentials</title>
        <title lang="de-DE">Anmeldedaten für die Testumgebung</title>

        <input-field type="url">
            <name>testAPIUrl</name>
            <placeholder>testapi.betterpayment.de</placeholder>
            <defaultValue>testapi.betterpayment.de</defaultValue>
            <label>API url</label>
            <label lang="de-DE">API url</label>
            <helpText>You can find your test API url in test dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihre Test-API-Url im Test-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>

        <input-field>
            <name>testAPIKey</name>
            <label>API key</label>
            <label lang="de-DE">API-Key</label>
            <helpText>You can find your test API key in test dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihre Test-API-Key im Test-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
        <input-field>
            <name>testOutgoingKey</name>
            <label>Outgoing key</label>
            <label lang="de-DE">Outgoing-Key</label>
            <helpText>You can find your test Outgoing key in test dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihre Test-Outgoing-Key im Test-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
        <input-field>
            <name>testIncomingKey</name>
            <label>Incoming key</label>
            <label lang="de-DE">Incoming-Key</label>
            <helpText>You can find your test Incoming key in test dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihre Test-Incoming-Key im Test-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
    </card>

    <card>
        <title>Production environment credentials</title>
        <title lang="de-DE">Anmeldedaten für die Produktionsumgebung</title>

        <input-field type="url">
            <name>productionAPIUrl</name>
            <placeholder>api.betterpayment.de</placeholder>
            <defaultValue>api.betterpayment.de</defaultValue>
            <label>API url</label>
            <label lang="de-DE">API url</label>
            <helpText>You can find your API url in production dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihren API-Url im Produktions-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>

        <input-field>
            <name>productionAPIKey</name>
            <label>API key</label>
            <label lang="de-DE">API-Key</label>
            <helpText>You can find your API key in production dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihren API-Key im Produktions-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
        <input-field>
            <name>productionOutgoingKey</name>
            <label>Outgoing key</label>
            <label lang="de-DE">Outgoing-Key</label>
            <helpText>You can find your Outgoing key in production dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihren Outgoing-Key im Produktions-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
        <input-field>
            <name>productionIncomingKey</name>
            <label>Incoming key</label>
            <label lang="de-DE">Incoming-Key</label>
            <helpText>You can find your Incoming key in production dashboard of the payment provider.</helpText>
            <helpText lang="de-DE">Sie können Ihren Incoming-Key im Produktions-Dashboard des Zahlungsanbieters finden.</helpText>
        </input-field>
    </card>

    <card>
        <title>SEPA Direct Debit payment method configuration</title>
        <title lang="de-DE">Konfiguration der Zahlungsmethode SEPA-Lastschrifteinzug</title>

        <input-field>
            <name>sepaDirectDebitCreditorID</name>
            <label>Creditor ID</label>
            <label lang="de-DE">Gläubiger-ID</label>
            <helpText>You need to provide a valid Creditor ID, to be shown in mandate agreement on the checkout page.</helpText>
            <helpText lang="de-DE">Sie müssen eine gültige Gläubiger-ID angeben, die im Mandatsvertrag auf der Kassenseite angezeigt wird.</helpText>
        </input-field>
        <input-field>
            <name>sepaDirectDebitCompanyName</name>
            <label>Company name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>You need to provide Company Name, to be shown in mandate reference agreement on the checkout page.</helpText>
            <helpText lang="de-DE">Sie müssen den Firmennamen angeben, der in der Mandatsreferenzvereinbarung auf der Kassenseite angezeigt werden soll.</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Geburtsdatum sammeln</label>
            <helpText>If you have configured risk checks with the payment provider, it may require date of birth from your customers.</helpText>
            <helpText lang="de-DE">Wenn Sie beim Zahlungsanbieter Risikoprüfungen konfiguriert haben, kann er von Ihren Kunden das Geburtsdatum verlangen.</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitCollectGender</name>
            <label>Collect gender information</label>
            <label lang="de-DE">Sammeln Sie geschlechtsspezifische Informationen</label>
            <helpText>If you have configured risk checks with the payment provider, it may require gender from your customers.</helpText>
            <helpText lang="de-DE">Wenn Sie beim Zahlungsanbieter Risikoprüfungen konfiguriert haben, kann es sein, dass er von Ihren Kunden ein Geschlecht verlangt.</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitRiskCheckAgreement</name>
            <label>Require customers to agree to risk check processing</label>
            <label lang="de-DE">Die Kunden müssen der Bearbeitung von Risikoprüfungen zustimmen</label>
            <helpText>
                If you turn this flag on, we will require the customer to agree to the risk check processing in the checkout page.
                Without agreement, payments will not go through. You can turn this field off, in case you provide it as part of your terms and conditions.
            </helpText>
            <helpText lang="de-DE">
                Wenn Sie diese Option aktivieren, muss der Kunde der Risikoprüfung auf der Kassenseite zustimmen.
                Ohne diese Zustimmung werden die Zahlungen nicht ausgeführt. Sie können dieses Feld deaktivieren, falls Sie es als Teil Ihrer Allgemeinen Geschäftsbedingungen vorsehen.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitEnableManualCapture</name>
            <label>Enable manual capture</label>
            <label lang="de-DE">Manuelle Erfassung aktivieren</label>
            <helpText>
                When turned on, you will be able to perform capture requests in the order’s view page right in the admin panel.
                Captures can only be made when using certain processors used for SEPA. Can work alongside automatic capturing field.
            </helpText>
            <helpText lang="de-DE">
                Wenn diese Option aktiviert ist, können Sie Erfassungsanfragen direkt in der Bestellansicht im Admin-Bereich durchführen.
                Erfassungen sind nur mit bestimmten SEPA-Prozessoren möglich. Kann parallel zum Feld für automatische Erfassung verwendet werden.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitAutomaticallyCaptureOnOrderInvoiceDocumentSent</name>
            <label>Automatically capture transaction when order invoice document is sent</label>
            <label lang="de-DE">Automatisches Erfassen der Transaktion, wenn das Rechnungsdokument gesendet wird</label>
            <helpText>
                When order's invoice document is sent, plugin will automatically capture the order's transaction in API.
                You can also capture transactions manually, by turning this flag off.
            </helpText>
            <helpText lang="de-DE">
                Wenn das Rechnungsdokument der Bestellung gesendet wird, erfasst das Plugin automatisch die Transaktion der Bestellung in der API.
                Sie können Transaktionen auch manuell erfassen, indem Sie dieses Flag deaktivieren.
            </helpText>
        </input-field>
    </card>

    <card>
        <title>SEPA Direct Debit B2B payment method configuration</title>
        <title lang="de-DE">Konfiguration der B2B-Zahlungsmethode SEPA-Lastschrift</title>

        <input-field>
            <name>sepaDirectDebitB2BCreditorID</name>
            <label>Creditor ID</label>
            <label lang="de-DE">Gläubiger-ID</label>
            <helpText>You need to provide a valid Creditor ID, to be shown in mandate agreement on the checkout page.</helpText>
            <helpText lang="de-DE">Sie müssen eine gültige Gläubiger-ID angeben, die im Mandatsvertrag auf der Kassenseite angezeigt wird.</helpText>
        </input-field>
        <input-field>
            <name>sepaDirectDebitB2BCompanyName</name>
            <label>Company name</label>
            <label lang="de-DE">Firmenname</label>
            <helpText>You need to provide Company Name, to be shown in mandate reference agreement on the checkout page.</helpText>
            <helpText lang="de-DE">Sie müssen den Firmennamen angeben, der in der Mandatsreferenzvereinbarung auf der Kassenseite angezeigt werden soll.</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitB2BRiskCheckAgreement</name>
            <label>Require customers to agree to risk check processing</label>
            <label lang="de-DE">Die Kunden müssen der Bearbeitung von Risikoprüfungen zustimmen</label>
            <helpText>
                If you turn this flag on, we will require the customer to agree to the risk check processing in the checkout page.
                Without agreement, payments will not go through. You can turn this field off, in case you provide it as part of your terms and conditions.
            </helpText>
            <helpText lang="de-DE">
                Wenn Sie diese Option aktivieren, muss der Kunde der Risikoprüfung auf der Kassenseite zustimmen.
                Ohne diese Zustimmung werden die Zahlungen nicht ausgeführt. Sie können dieses Feld deaktivieren, falls Sie es als Teil Ihrer Allgemeinen Geschäftsbedingungen vorsehen.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitB2BEnableManualCapture</name>
            <label>Enable manual capture</label>
            <label lang="de-DE">Manuelle Erfassung aktivieren</label>
            <helpText>
                When turned on, you will be able to perform capture requests in the order’s view page right in the admin panel.
                Captures can only be made when using certain processors used for SEPA. Can work alongside automatic capturing field.
            </helpText>
            <helpText lang="de-DE">
                Wenn diese Option aktiviert ist, können Sie Erfassungsanfragen direkt in der Bestellansicht im Admin-Bereich durchführen.
                Erfassungen sind nur mit bestimmten SEPA-Prozessoren möglich. Kann parallel zum Feld für automatische Erfassung verwendet werden.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitB2BAutomaticallyCaptureOnOrderInvoiceDocumentSent</name>
            <label>Automatically capture transaction when order invoice document is sent</label>
            <label lang="de-DE">Automatisches Erfassen der Transaktion, wenn das Rechnungsdokument gesendet wird</label>
            <helpText>
                When order's invoice document is sent, plugin will automatically capture the order's transaction in API.
                You can also capture transactions manually, by turning this flag off.
            </helpText>
            <helpText lang="de-DE">
                Wenn das Rechnungsdokument der Bestellung gesendet wird, erfasst das Plugin automatisch die Transaktion der Bestellung in der API.
                Sie können Transaktionen auch manuell erfassen, indem Sie dieses Flag deaktivieren.
            </helpText>
        </input-field>
    </card>

    <card>
        <title>Invoice payment method configuration</title>
        <title lang="de-DE">Konfiguration der Zahlungsmethode für Rechnungen</title>

        <input-field type="bool">
            <name>invoiceDisplayInstruction</name>
            <label>Display payment instruction to the customer</label>
            <label lang="de-DE">Anzeige der Zahlungsanweisung an den Kunden</label>
            <helpText>When activated, we will be instructing the customer that they should send ORDER_ID as a reference with amount due to the given bank account below.</helpText>
            <helpText lang="de-DE">Nach der Aktivierung weisen wir den Kunden an, die ORDER_ID als Referenz mit dem fälligen Betrag an das unten angegebene Bankkonto zu senden.</helpText>
       </input-field>
        <input-field>
            <name>invoiceIBAN</name>
            <label>IBAN (optional)</label>
            <label lang="de-DE">IBAN (fakultativ)</label>
            <helpText>Your company's IBAN.</helpText>
            <helpText lang="de-DE">Die IBAN Ihres Unternehmens.</helpText>
        </input-field>
        <input-field>
            <name>invoiceBIC</name>
            <label>BIC (optional)</label>
            <label lang="de-DE">BIC (fakultativ)</label>
            <helpText>Your company's BIC.</helpText>
            <helpText lang="de-DE">Der BIC Ihres Unternehmens.</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Geburtsdatum sammeln</label>
            <helpText>If you have configured risk checks with the payment provider, it may require date of birth from your customers.</helpText>
            <helpText lang="de-DE">Wenn Sie beim Zahlungsanbieter Risikoprüfungen konfiguriert haben, kann er von Ihren Kunden das Geburtsdatum verlangen.</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceCollectGender</name>
            <label>Collect gender information</label>
            <label lang="de-DE">Sammeln Sie geschlechtsspezifische Informationen</label>
            <helpText>If you have configured risk checks with the payment provider, it may require gender from your customers.</helpText>
            <helpText lang="de-DE">Wenn Sie beim Zahlungsanbieter Risikoprüfungen konfiguriert haben, kann es sein, dass er von Ihren Kunden ein Geschlecht verlangt.</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceRiskCheckAgreement</name>
            <label>Require customers to agree to risk check processing</label>
            <label lang="de-DE">Die Kunden müssen der Bearbeitung von Risikoprüfungen zustimmen</label>
            <helpText>
                If you turn this flag on, we will require the customer to agree to the risk check processing in the checkout page.
                Without agreement, payments will not go through. You can turn this field off, in case you provide it as part of your terms and conditions.
            </helpText>
            <helpText lang="de-DE">
                Wenn Sie diese Option aktivieren, muss der Kunde der Risikoprüfung auf der Kassenseite zustimmen.
                Ohne diese Zustimmung werden die Zahlungen nicht ausgeführt. Sie können dieses Feld deaktivieren, falls Sie es als Teil Ihrer Allgemeinen Geschäftsbedingungen vorsehen.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceAutomaticallyCaptureOnOrderInvoiceDocumentSent</name>
            <label>Automatically capture transaction when order invoice document is sent</label>
            <label lang="de-DE">Automatisches Erfassen der Transaktion, wenn das Rechnungsdokument gesendet wird</label>
            <helpText>
                When order's invoice document is sent, plugin will automatically capture the order's transaction in API.
                You can also capture transactions manually, by turning this flag off.
            </helpText>
            <helpText lang="de-DE">
                Wenn das Rechnungsdokument der Bestellung gesendet wird, erfasst das Plugin automatisch die Transaktion der Bestellung in der API.
                Sie können Transaktionen auch manuell erfassen, indem Sie dieses Flag deaktivieren.
            </helpText>
        </input-field>
    </card>

    <card>
        <title>Invoice B2B payment method configuration</title>
        <title lang="de-DE">Konfiguration der B2B-Zahlungsmethode für Rechnungen</title>

        <input-field type="bool">
            <name>invoiceB2BDisplayInstruction</name>
            <label>Display payment instruction to the customer</label>
            <label lang="de-DE">Anzeige der Zahlungsanweisung an den Kunden</label>
            <helpText>When activated, we will be instructing the customer that they should send ORDER_ID as a reference with amount due to the given bank account below.</helpText>
            <helpText lang="de-DE">Nach der Aktivierung weisen wir den Kunden an, die ORDER_ID als Referenz mit dem fälligen Betrag an das unten angegebene Bankkonto zu senden.</helpText>
        </input-field>
        <input-field>
            <name>invoiceB2BIBAN</name>
            <label>IBAN (optional)</label>
            <label lang="de-DE">IBAN (fakultativ)</label>
            <helpText>Your company's IBAN.</helpText>
            <helpText lang="de-DE">Die IBAN Ihres Unternehmens.</helpText>
        </input-field>
        <input-field>
            <name>invoiceB2BBIC</name>
            <label>BIC (optional)</label>
            <label lang="de-DE">BIC (fakultativ)</label>
            <helpText>Your company's BIC.</helpText>
            <helpText lang="de-DE">Der BIC Ihres Unternehmens.</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceB2BRiskCheckAgreement</name>
            <label>Require customers to agree to risk check processing</label>
            <label lang="de-DE">Die Kunden müssen der Bearbeitung von Risikoprüfungen zustimmen</label>
            <helpText>
                If you turn this flag on, we will require the customer to agree to the risk check processing in the checkout page.
                Without agreement, payments will not go through. You can turn this field off, in case you provide it as part of your terms and conditions.
            </helpText>
            <helpText lang="de-DE">
                Wenn Sie diese Option aktivieren, muss der Kunde der Risikoprüfung auf der Kassenseite zustimmen.
                Ohne diese Zustimmung werden die Zahlungen nicht ausgeführt. Sie können dieses Feld deaktivieren, falls Sie es als Teil Ihrer Allgemeinen Geschäftsbedingungen vorsehen.
            </helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceB2BAutomaticallyCaptureOnOrderInvoiceDocumentSent</name>
            <label>Automatically capture transaction when order invoice document is sent</label>
            <label lang="de-DE">Automatisches Erfassen von Transaktionen beim Versand von Auftragsrechnungen</label>
            <helpText>
                When order's invoice document is sent, plugin will automatically capture the order's transaction in API.
                You can also capture transactions manually, by turning this flag off.
            </helpText>
            <helpText lang="de-DE">
                Wenn das Rechnungsdokument der Bestellung gesendet wird, erfasst das Plugin automatisch die Transaktion der Bestellung in der API.
                Sie können Transaktionen auch manuell erfassen, indem Sie dieses Flag deaktivieren.
            </helpText>
        </input-field>
    </card>

    <card>
        <title>Apple Pay payment method configuration</title>
        <title lang="de-DE">Konfiguration der Apple Pay-Zahlungsmethode</title>

        <input-field type="bool">
            <name>applePay3dsEnabled</name>
            <label>3DS enabled</label>
            <label lang="de-DE">3DS aktiviert</label>
            <helpText>The transaction will go through an additional authentication layer to enhance security and reduce fraud.</helpText>
            <helpText lang="de-DE">Die Transaktion durchläuft eine zusätzliche Authentifizierungsebene, um die Sicherheit zu erhöhen und Betrug zu reduzieren.</helpText>
            <defaultValue>true</defaultValue>
        </input-field>
        <input-field type="multi-select">
            <name>applePaySupportedNetworks</name>
            <label>Supported Networks</label>
            <label lang="de-DE">Unterstützte Netzwerke</label>
            <helpText>This refer to the card networks (schemes) that Apple Pay can process transactions with.</helpText>
            <helpText lang="de-DE">Dies bezieht sich auf die Kartennetzwerke (Systeme), mit denen Apple Pay Transaktionen abwickeln kann.</helpText>
            <defaultValue>["visa", "masterCard"]</defaultValue>
            <options>
                <option>
                    <id>visa</id>
                    <name>VISA</name>
                </option>
                <option>
                    <id>masterCard</id>
                    <name>MASTERCARD</name>
                </option>
            </options>
        </input-field>
    </card>
    <card>
        <title>Google Pay payment method configuration</title>
        <title lang="de-DE">Konfiguration der Google Pay-Zahlungsmethode</title>
        
          <input-field>
            <name>googlePayGateway</name>
            <label>Gateway ID</label>
            <label lang="de-DE">Gateway ID</label>
            <helpText>This field represents the gateway name|id configured on your account to process Google Pay transactions. You can get this during on-boarding with Deutsche Bank / Better Payment.</helpText>
            <helpText lang="de-DE">Dieses Feld stellt den Gateway-Namen bzw. die Gateway-ID dar, der/die auf Ihrem Konto für die Verarbeitung von Google Pay-Transaktionen konfiguriert ist. Sie können dies während des On-Boarding mit Deutsche Bank / Better Payment erhalten.</helpText>
            <defaultValue>processingpagateq</defaultValue>
            <disabled>true</disabled>
        </input-field>
        <input-field>
            <name>googlePayGatewayMerchantId</name>
            <label>Gateway Merchant ID</label>
            <label lang="de-DE">Gateway Merchant ID</label>
            <helpText>This field represents gateway merchant ID configured on your account to process Google Pay transactions. You can get this during on-boarding with Deutsche Bank / Better Payment.</helpText>
            <helpText lang="de-DE">Dieses Feld stellt die Gateway-Händler-ID dar, die in Ihrem Konto für die Verarbeitung von Google Pay-Transaktionen konfiguriert ist. Sie erhalten diese während des On-Boarding mit Deutsche Bank / Better Payment.</helpText>
        </input-field>
        <input-field>
            <name>googlePayMerchantId</name>
            <label>Merchant ID</label>
            <label lang="de-DE">Merchant ID</label>
            <helpText>This field represents gateway merchant ID configured on your account to process Google Pay transactions. You can get this during on-boarding with Deutsche Bank / Better Payment.</helpText>
            <helpText lang="de-DE">Dieses Feld stellt die Händler-ID dar, die in Ihrem Konto für die Verarbeitung von Google Pay-Transaktionen konfiguriert ist. Sie erhalten diese während des On-Boarding mit Deutsche Bank / Better Payment.</helpText>
        </input-field>
        <input-field>
            <name>googlePayMerchantName</name>
            <label>Merchant name</label>
            <label lang="de-DE">Merchant name</label>
            <helpText>This field represents gateway merchant ID configured on your account to process Google Pay transactions. You can get this during on-boarding with Deutsche Bank / Better Payment.</helpText>
            <helpText lang="de-DE">Dieses Feld stellt den Präsentationsnamen des Händlers dar, der angezeigt wird, sobald auf die Schaltfläche Google Pay geklickt wird. Geben Sie einen Namen an, den Ihre Kunden sehen sollen.</helpText>
        </input-field>

        <input-field type="multi-select">
            <name>googlePayAllowedCardNetworks</name>
            <label>Allowed Card Networks</label>
            <label lang="de-DE">Unterstützte Netzwerke</label>
            <helpText>This refer to the card networks (schemes) that Google Pay can process transactions with.</helpText>
            <helpText lang="de-DE">Dies bezieht sich auf die Kartennetzwerke (Systeme), mit denen Google Pay Transaktionen abwickeln kann.</helpText>
            <defaultValue>["VISA", "MASTERCARD"]</defaultValue>
            <options>
                <option>
                    <id>VISA</id>
                    <name>VISA</name>
                </option>
                <option>
                    <id>MASTERCARD</id>
                    <name>MASTERCARD</name>
                </option>
            </options>
        </input-field>
        <input-field type="multi-select">
            <name>googlePayAllowedAuthMethods</name>
            <label>Allowed Auth Methods</label>
            <label lang="de-DE">Unterstützte Netzwerke</label>
            <helpText>Fields supported to authenticate a card transaction</helpText>
            <helpText lang="de-DE">Unterstützte Felder zur Authentifizierung einer Kartentransaktion. https://developers.google.com/pay/api/web/reference/request-objects#CardParameters</helpText>
            <defaultValue>["PAN_ONLY", "CRYPTOGRAM_3DS"]</defaultValue>
            <options>
                <option>
                    <id>PAN_ONLY</id>
                    <name>PAN_ONLY</name>
                </option>
                <option>
                    <id>CRYPTOGRAM_3DS</id>
                    <name>CRYPTOGRAM_3DS</name>
                </option>
            </options>
        </input-field>
    </card>
</config>