<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    
    <card>
        <title>Base configuration</title>
        <title lang="de-DE">Base configuration (DE)</title>

        <input-field type="single-select">
            <name>whiteLabel</name>
            <label>Choose your account owner company</label>
            <label lang="de-DE">Choose your account owner company (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
            <defaultValue>betterpayment</defaultValue>
            <options>
                <option>
                    <id>betterpayment</id>
                    <name>Better Payment</name>
                </option>
                <option>
                    <id>solvendi</id>
                    <name>Solvendi</name>
                </option>
                <option>
                    <id>diagonal</id>
                    <name>Diagonal-Payment</name>
                </option>
                <option>
                    <id>collectai</id>
                    <name>collectAI</name>
                </option>
                <option>
                    <id>betterbill</id>
                    <name>BetterBill GmbH</name>
                </option>
                <option>
                    <id>kleverpay</id>
                    <name>Kleverpay</name>
                </option>
                <option>
                    <id>abilitapay</id>
                    <name>abilitaPay</name>
                </option>
                <option>
                    <id>prodefacto</id>
                    <name>Prodefacto-Pay</name>
                </option>
                <option>
                    <id>vr_dienste</id>
                    <name>VR-Dienste</name>
                </option>
                <option>
                    <id>vr_straubing</id>
                    <name>Raiffeisenbank Straubing</name>
                </option>
                <option>
                    <id>continentalpay</id>
                    <name>Continental Pay</name>
                </option>
                <option>
                    <id>vrkg</id>
                    <name>Volksbank Bad Kissingen</name>
                </option>
                <option>
                    <id>demondo</id>
                    <name>Demondo Paygate</name>
                </option>
                <option>
                    <id>vivapago</id>
                    <name>Vivapago</name>
                </option>
                <option>
                    <id>bakersoftpay</id>
                    <name>BakerSoft</name>
                </option>
            </options>
        </input-field>
        
        <input-field type="single-select">
            <name>environment</name>
            <label>Environment</label>
            <label lang="de-DE">Environment (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
            <defaultValue>test</defaultValue>
            <options>
                <option>
                    <id>test</id>
                    <name>Test</name>
                </option>
                <option>
                    <id>production</id>
                    <name>Production</name>
                </option>
            </options>
        </input-field>
    </card>
    
    <card>
        <title>Test environment credentials</title>
        <title lang="de-DE">Test environment credentials (DE)</title>

        <input-field>
            <name>testAPIKey</name>
            <label>API key</label>
            <label lang="de-DE">API key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>testOutgoingKey</name>
            <label>Outgoing key</label>
            <label lang="de-DE">Outgoing key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>testIncomingKey</name>
            <label>Incoming key</label>
            <label lang="de-DE">Incoming key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
    </card>

    <card>
        <title>Production environment credentials</title>
        <title lang="de-DE">Production environment credentials (DE)</title>

        <input-field>
            <name>productionAPIKey</name>
            <label>API key</label>
            <label lang="de-DE">API key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>productionOutgoingKey</name>
            <label>Outgoing key</label>
            <label lang="de-DE">Outgoing key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>productionIncomingKey</name>
            <label>Incoming key</label>
            <label lang="de-DE">Incoming key (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
    </card>

    <card>
        <title>SEPA Direct Debit payment method configuration</title>
        <title lang="de-DE">SEPA Direct Debit payment method configuration</title>

        <input-field>
            <name>sepaDirectDebitCreditorID</name>
            <label>Creditor ID</label>
            <label lang="de-DE">Creditor ID (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>sepaDirectDebitCompanyName</name>
            <label>Company name</label>
            <label lang="de-DE">Company name (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Collect date of birth (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitCollectGender</name>
            <label>Collect gender</label>
            <label lang="de-DE">Collect gender (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
    </card>

    <card>
        <title>SEPA Direct Debit B2B payment method configuration</title>
        <title lang="de-DE">SEPA Direct Debit B2B payment method configuration</title>

        <input-field>
            <name>sepaDirectDebitB2BCreditorID</name>
            <label>Creditor ID</label>
            <label lang="de-DE">Creditor ID (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field>
            <name>sepaDirectDebitB2BCompanyName</name>
            <label>Company name</label>
            <label lang="de-DE">Company name (DE)</label>
            <helpText>This is demo help text</helpText>
            <helpText lang="de-DE">This is demo help text (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitB2BCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Collect date of birth (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>sepaDirectDebitB2BCollectGender</name>
            <label>Collect gender</label>
            <label lang="de-DE">Collect gender (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
    </card>

    <card>
        <title>Invoice payment method configuration</title>
        <title lang="de-DE">Invoice payment method configuration</title>

        <input-field type="bool">
            <name>invoiceDisplayInstruction</name>
            <label>Display payment instruction to the customer</label>
            <label lang="de-DE">Display payment instruction to the customer (DE)</label>
            <helpText>If these fields exist, we will show them in checkout page, instructing the customer that they should send ORDER_ID as a reference with amount due to this bank account</helpText>
            <helpText lang="de-DE">If these fields exist, we will show them in checkout page, instructing the customer that they should send ORDER_ID as a reference with amount due to this bank account (DE)</helpText>
        </input-field>
        <input-field>
            <name>invoiceIBAN</name>
            <label>IBAN (optional)</label>
            <label lang="de-DE">IBAN (optional) (DE)</label>
            <helpText>IBAN of merchant</helpText>
            <helpText lang="de-DE">IBAN of merchant (DE)</helpText>
        </input-field>
        <input-field>
            <name>invoiceBIC</name>
            <label>BIC (optional)</label>
            <label lang="de-DE">BIC (optional) (DE)</label>
            <helpText>BIC of merchant</helpText>
            <helpText lang="de-DE">BIC of merchant (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Collect date of birth (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceCollectGender</name>
            <label>Collect gender</label>
            <label lang="de-DE">Collect gender (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
    </card>

    <card>
        <title>Invoice B2B payment method configuration</title>
        <title lang="de-DE">Invoice B2B payment method configuration</title>

        <input-field type="bool">
            <name>invoiceB2BDisplayInstruction</name>
            <label>Display payment instruction to the customer</label>
            <label lang="de-DE">Display payment instruction to the customer (DE)</label>
            <helpText>If these fields exist, we will show them in checkout page, instructing the customer that they should send ORDER_ID as a reference with amount due to this bank account</helpText>
            <helpText lang="de-DE">If these fields exist, we will show them in checkout page, instructing the customer that they should send ORDER_ID as a reference with amount due to this bank account (DE)</helpText>
        </input-field>
        <input-field>
            <name>invoiceB2BIBAN</name>
            <label>IBAN (optional)</label>
            <label lang="de-DE">IBAN (optional) (DE)</label>
            <helpText>IBAN of merchant</helpText>
            <helpText lang="de-DE">IBAN of merchant (DE)</helpText>
        </input-field>
        <input-field>
            <name>invoiceB2BBIC</name>
            <label>BIC (optional)</label>
            <label lang="de-DE">BIC (optional) (DE)</label>
            <helpText>BIC of merchant</helpText>
            <helpText lang="de-DE">BIC of merchant (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceB2BCollectDateOfBirth</name>
            <label>Collect date of birth</label>
            <label lang="de-DE">Collect date of birth (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
        <input-field type="bool">
            <name>invoiceB2BCollectGender</name>
            <label>Collect gender</label>
            <label lang="de-DE">Collect gender (DE)</label>
            <helpText>May be used for risk checks</helpText>
            <helpText lang="de-DE">May be used for risk checks (DE)</helpText>
        </input-field>
    </card>
</config>