<div class="form-group col-md-3 col-sm-6">
    <br>
    <label for="betterpayment_birthdate">{{ 'betterpayment.riskCheck.birthdate' | trans }}<span class="text-danger">*</span></label>
    <input type="date" id="betterpayment_birthdate" name="betterpayment_birthdate" class="form-control" form="confirmOrderForm" required>
</div>