<div class="form-group">
    <input type="checkbox" id="riskCheckAgreement" form="confirmOrderForm" required>
    <label for="riskCheckAgreement">{{ 'betterpayment.riskCheck.agreementLabel' | trans }}<span class="text-danger"> *</span></label>
</div>