{% block sw_order_detail_details_payment %}
    {% parent %}
    <sw-card
            v-if="refundCardIsVisible"
            :title="$tc('betterpayment.refund.cardTitle')">
        <template #grid>
            <sw-card-section divider="bottom" :slim="true">
                <sw-container v-if="isFullyRefunded">
                    <sw-label variant="success">
                        {{ $tc('betterpayment.refund.labels.noMoreRefunds') }}
                    </sw-label>
                </sw-container>
                <sw-container>
                    <sw-label variant="info" style="height: auto">
                        <div style="white-space: normal;">
                            <span v-if="paymentMethod == 'cc'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.creditCard') }}
                            </span>
                            <span v-else-if="paymentMethod == 'sofort'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.sofort') }}
                            </span>
                            <span v-else-if="paymentMethod == 'paydirekt'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.paydirekt') }}
                            </span>
                            <span v-else-if="paymentMethod == 'paypal'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.paypal') }}
                            </span>
                            <span v-else-if="paymentMethod == 'giro'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.giropay') }}
                            </span>
                            <span v-else-if="paymentMethod == 'rtp'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.requestToPay') }}
                            </span>
                            <span v-else-if="paymentMethod == 'aiia'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.aiia') }}
                            </span>
                            <span v-else-if="paymentMethod == 'ideal'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.ideal') }}
                            </span>
                            <span v-else-if="paymentMethod == 'dd'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.sepaDirectDebit') }}
                            </span>
                            <span v-else-if="paymentMethod == 'dd_b2b'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.sepaDirectDebitB2B') }}
                            </span>
                            <span v-else-if="paymentMethod == 'kar'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.invoice') }}
                            </span>
                            <span v-else-if="paymentMethod == 'kar_b2b'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.invoiceB2B') }}
                            </span>
                            <span v-else-if="paymentMethod == 'apple_pay'">
                                {{ $tc('betterpayment.refund.labels.paymentMethodsInfo.creditCard') }}
                            </span>
                        </div>
                    </sw-label>
                </sw-container>
                <sw-container columns="1fr 1fr" gap="0px 14px">
                    <sw-container rows="1fr 1fr 1fr 1fr" gap="10px 0px">
                        <sw-number-field
                                required numberType="float" :digits="2" :allowEmpty="false" size="small"
                                :disabled="!canCreateRefund || isFullyRefunded"
                                :label="$tc('betterpayment.refund.labels.amount')"
                                v-model:value="refund.amount">
                        </sw-number-field>
                        <sw-datepicker
                                size="small" :label="$tc('betterpayment.refund.labels.date')"
                                :disabled="!canCreateRefund || isFullyRefunded"
                                v-model:value="refund.execution_date">
                        </sw-datepicker>
                        <sw-text-field
                                :copyable="true" :copyableTooltip="true" disabled size="small"
                                :label="$tc('betterpayment.refund.labels.transactionId')"
                                v-model:value="betterPaymentTransactionId">
                        </sw-text-field>
                        <sw-label variant="info" style="height: auto">
                            <div style="white-space: normal;">
                                {{ $tc('betterpayment.refund.labels.refundIdInfo') }}
                            </div>
                        </sw-label>
                        <sw-text-field
                                size="small" :label="$tc('betterpayment.refund.labels.refundId')"
                                :disabled="!canCreateRefund || isFullyRefunded"
                                v-model:value="refund.refund_id">
                        </sw-text-field>
                    </sw-container>
                    <sw-textarea-field
                            type="textarea" size="small"
                            :disabled="!canCreateRefund || isFullyRefunded"
                            :label="$tc('betterpayment.refund.labels.comment')"
                            v-model:value="refund.comment">
                    </sw-textarea-field>
                </sw-container>
                <sw-button-process
                        style="float: right"
                        :processSuccess="processSuccess"
                        :disabled="buttonDisabled || !canCreateRefund || isFullyRefunded"
                        @click="createRefund"
                        variant="ghost"
                        size="small"
                        @update:process-success="createRefundFinished">
                    {{ $tc('betterpayment.refund.actions.createNew') }}
                </sw-button-process>
            </sw-card-section>
            <sw-data-grid
                    :isLoading="isLoading"
                    :showSelection="false" :showActions="false"
                    :dataSource="refunds" v-if="refunds.length !== 0"
                    :columns="[
                        { property: 'amount', label: $tc('betterpayment.refund.labels.amount') },
                        { property: 'message', label: $tc('betterpayment.refund.labels.comment') },
                        {# TODO: parse it according to shop setting for datetime #}
                        { property: 'created_at', label: $tc('betterpayment.refund.labels.date') }
                    ]">
            </sw-data-grid>
        </template>
    </sw-card>
{% endblock %}